/* Override some defaults */
a {
	color: black;
}
a:hover {
	color: #7e7e7e;
	text-decoration: none;
}

h1 {
	margin: 20px 0px 0px 0px;
	font-size: 3em;
	font-family: 'Skranji', cursive,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: .04em .04em 0 #fff,.08em .08em 0 #aaa;
}

nav {
	padding-top: 20px;
	margin-left: -25px;
	font-family: 'Patrick Hand SC', cursive,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.5em;
}
nav li {
	display: inline;
	margin-right: 20px;
}
nav a {
	color: black;
}
nav a:hover {
	color: #7e7e7e;
}
nav i {
	margin-top: 8px;
}

html, body li{
	line-height: 25px;
	font-size: 1.1em;
}
p{
	font-size: 1.1em;
	line-height: 2;
}
.navbar {
  margin-bottom: 0;
}

.container{
	max-width:800px;
}
.span12, .container{
	max-width: 800px;
}
.posts{
	padding: 30px 0;
	border-bottom: 2px solid #ddd;
}
.posts .article a{
	color: #999999;
}
.posts .article a:hover{
	color: black;
}
.article{
	margin-top: 10px;
}
.span8{
	width: 600px;
}
.span4{
	width: 120px;
	margin-left: 60px;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 0 20px;
  margin-left: -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

/* Page header tweaks */


.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

.discovery{
	height: 0px;
	overflow: hidden;
}
.discovery-main{
	height: 0px;
	overflow: hidden;
}

.discovery-content-wrap{
	height: 0px;
	overflow: hidden;
}

.about{
	font-size: 16px;
}
.about li{
	line-height: 25px;
}